@import "assets/custom.scss";

body {
  background: #2f271d;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Breathe-Fire-Font;
  color: white;
}

@font-face {
  font-family: "Breathe-Fire-Font";
  src: url('/fonts/BreatheFire-65pg.ttf');
}
