@import "assets/custom.scss";

body {
  background: #2f271d;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Crimson Text", serif;
  color: white;
}

h1, h2, h3 {
  font-family: Breathe-Fire-Font;
  text-align: center;
}

.scroll {
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #f8f5de;
  background-image: linear-gradient(
                  to right,
                  rgba(255, 210, 0, 0.4),
                  rgba(200, 160, 0, 0.1) 11%,
                  rgba(0, 0, 0, 0) 35%,
                  rgba(200, 160, 0, 0.1) 65%
  );
  box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3),
  inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
  color: rgba(0, 0, 0, 0.5);
  min-height: 80vh;
  margin: 1rem 1rem 4rem;
}

@font-face {
  font-family: "Breathe-Fire-Font";
  src: url('/fonts/BreatheFire-65pg.ttf');
}

.toast {
  bottom: 4rem;
  position: absolute;
  &__body {
    background: rgba(200, 160, 0, 0.1);
  }
}
